<div>
  <div>
    <h1>
      List of all Florists
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new Florist
    </h2>

    <form action="/insert_florist" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address">
      </div>

      <div>
        <label for="neighborhood_name_box">
          Neighborhood
        </label>

        <select id="neighborhood_name_box" name="query_neighborhood_name">
          <% @list_of_neighborhoods.each do |a_neighborhood| %>
            <option value="<%= a_neighborhood.name %>"><%= a_neighborhood.name %></option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="contact_name_box">
          Contact name
        </label>

        <input type="text" id="contact_name_box" name="query_contact_name">
      </div>

      <div>
        <input type="checkbox" id="contacted_box" name="query_contacted" value="1">

        <label for="contacted_box">Contacted</label>
      </div>

      <div>
        <input type="checkbox" id="chosen_box" name="query_chosen" value="1">

        <label for="chosen_box">Chosen</label>
      </div>

      <div>
        <label for="price_options_box">
          Price options
        </label>

        <textarea id="price_options_box" name="query_price_options" rows="3"></textarea>
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes" rows="3"></textarea>
      </div>

      <div>
        <label for="deposit_box">
          Deposit %
        </label>

        <input type="number" id="deposit_box" name="query_deposit" value = "0">
      </div>

      <div>
        <label for="final_price_box">
          Final price $
        </label>

        <input type="number" id="final_price_box" name="query_final_price" value = "0">
      </div>

      <button>
        Create florist
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Website
        </th>

        <th>
          Address
        </th>

        <th>
          Lat
        </th>

        <th>
          Lng
        </th>

        <th>
          Neighborhood
        </th>

        <th>
          Contact name
        </th>

        <th>
          Contacted
        </th>

        <th>
          Chosen
        </th>

        <th>
          Price options
        </th>

        <th>
          Notes
        </th>

        <th>
          Deposit
        </th>

        <th>
          Final price
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_florists.each do |a_florist| %>
      <tr>
        <td>
          <%= a_florist.id %>
        </td>

        <td>
          <%= a_florist.name %>
        </td>

        <td>
          <%= a_florist.website %>
        </td>

        <td>
          <%= a_florist.address %>
        </td>

        <td>
          <%= a_florist.lat %>
        </td>

        <td>
          <%= a_florist.lng %>
        </td>

        <td>
        <%= Neighborhood.where({ :id => a_florist.neighborhood_id }).at(0).name %>
        </td>

        <td>
          <%= a_florist.contact_name %>
        </td>

        <td>
          <%= a_florist.contacted %>
        </td>

        <td>
          <%= a_florist.chosen %>
        </td>

        <td>
          <%= a_florist.price_options %>
        </td>

        <td>
          <%= a_florist.notes %>
        </td>

        <td>
          <%= a_florist.deposit.round(0) %>%
        </td>

        <td>
          $<%= a_florist.final_price.round(2) %>
        </td>

        <td>
          <%= time_ago_in_words(a_florist.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_florist.updated_at) %> ago
        </td>

        <td>
          <a href="/florists/<%= a_florist.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
