<div>
  <div>
    <h1>
      Lighting & Production Company #<%= @the_lighting_production_company.id %> details
    </h1>

    <div>
      <div>
        <a href="/lighting_production_companies">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_lighting_production_company/<%= @the_lighting_production_company.id %>">
          Delete Lighting Production Company
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_lighting_production_company.name %>
      </dd>

      <dt>
        Website
      </dt>
      <dd>
        <%= @the_lighting_production_company.website %>
      </dd>

      <dt>
        Contact name
      </dt>
      <dd>
        <%= @the_lighting_production_company.contact_name %>
      </dd>

      <dt>
        Contact email
      </dt>
      <dd>
        <%= @the_lighting_production_company.contact_email %>
      </dd>

      <dt>
        Contacted
      </dt>
      <dd>
        <%= @the_lighting_production_company.contacted %>
      </dd>

      <dt>
        Chosen
      </dt>
      <dd>
        <%= @the_lighting_production_company.chosen %>
      </dd>

      <dt>
        Price options
      </dt>
      <dd>
        <%= @the_lighting_production_company.price_options %>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_lighting_production_company.notes %>
      </dd>

      <dt>
        Deposit
      </dt>
      <dd>
        <%= @the_lighting_production_company.deposit.round(0) %>%
      </dd>

      <dt>
        Final price
      </dt>
      <dd>
        $<%= @the_lighting_production_company.final_price.round(2) %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_lighting_production_company.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_lighting_production_company.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit Lighting & Production Company
    </h2>

    <form action="/modify_lighting_production_company/<%= @the_lighting_production_company.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_lighting_production_company.name %>">
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website" value="<%= @the_lighting_production_company.website %>">
      </div>

      <div>
        <label for="contact_name_box">
          Contact name
        </label>

        <input type="text" id="contact_name_box" name="query_contact_name" value="<%= @the_lighting_production_company.contact_name %>">
      </div>

      <div>
        <label for="contact_email_box">
          Contact name
        </label>

        <input type="text" id="contact_email_box" name="query_contact_email" value="<%= @the_lighting_production_company.contact_email %>">
      </div>

      <div>
        <input type="checkbox" id="contacted_box" name="query_contacted" value="1" <%= "checked" if @the_lighting_production_company.contacted %>>

        <label for="contacted_box">
            Contacted
        </label>
      </div>

      <div>
        <input type="checkbox" id="chosen_box" name="query_chosen" value="1" <%= "checked" if @the_lighting_production_company.chosen %>>

        <label for="chosen_box">
            Chosen
        </label>
      </div>

      <div>
        <label for="price_options_box">
          Price options
        </label>

        <textarea id="price_options_box" name="query_price_options"><%= @the_lighting_production_company.price_options %></textarea>
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes"><%= @the_lighting_production_company.notes %></textarea>
      </div>

      <div>
        <label for="deposit_box">
          Deposit %
        </label>

        <input type="number" id="deposit_box" name="query_deposit" value="<%= @the_lighting_production_company.deposit %>">
      </div>

      <div>
        <label for="final_price_box">
          Final price $
        </label>

        <input type="number" id="final_price_box" name="query_final_price" value="<%= @the_lighting_production_company.final_price %>">
      </div>

      <button>
        Update Lighting Production Company
      </button>
    </form>
  </div>
</div>

<hr>
