<div>
  <div class="container-fluid">
    <h1>
      List of all Transportation Companies
    </h1>
  </div>
</div>

<hr>

<div class="accordion accordion-flush accordion-" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h2>Add a New Transportation Company</h2>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div>
          <form action="/insert_transportation_company" method="post">
            <div class="row mb-2">
              <label for="name_box" class="col-auto col-form-label">
                Name
              </label>

              <div class="col-auto">
                <input class="form-control" type="text" id="name_box" name="query_name">
              </div>
            </div>

            <div class="row mb-2">
              <label for="website_box" class="col-auto col-form-label">
                Website
              </label>

              <div class="col-sm-6">
                <input class="form-control" type="url" id="website_box" name="query_website">
              </div>
            </div>

            <div class="row mb-2">
              <label for="photo_url_box" class="col-auto col-form-label">
                Photo URL
              </label>

              <div class="col-sm-10">
                <input class="form-control" type="text" id="photo_url_box" name="query_photo_url">
              </div>
            </div>

            <div class="row mb-2">
              <label for="contact_name_box" class="col-auto col-form-label">
                Contact Name
              </label>

              <div class="col-auto">
                <input class="form-control" type="text" id="contact_name_box" name="query_contact_name">
              </div>
            </div>

            <div class="row mb-2">
              <label for="contact_email_box" class="col-auto col-form-label">
                Contact Email
              </label>

              <div class="col-auto">
                <input class="form-control" type="email" id="contact_email_box" name="query_contact_email">
              </div>
            </div>

            <div class="row mb-2">
              <label for="neighborhood_id_box" class="col-auto col-form-label">
                Neighborhood
              </label>

              <div class="col-auto col-form-label">
                <select id="neighborhood_name_box" name="query_neighborhood_name">
                  <% @list_of_neighborhoods.each do |a_neighborhood| %>
                    <option value="<%= a_neighborhood.name %>"><%= a_neighborhood.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div>
              <input class="form-check-input" type="checkbox" id="contacted_box" name="query_contacted" value="1">

              <label class="form-check-label" for="contacted_box" class="col-auto col-form-label">Contacted</label>
            </div>

            <div>
              <input class="form-check-input" type="checkbox" id="chosen_box" name="query_chosen" value="1">

              <label class="form-check-label" for="chosen_box" class="col-auto col-form-label">Chosen</label>
            </div>
            
            <div>
              <input class="form-check-input" type="checkbox" id="signed_contract_box" name="query_signed_contract" value="1">

              <label class="form-check-label" for="signed_contract_box" class="col-auto col-form-label">Signed Contract</label>
            </div>

            <div>
              <input class="form-check-input" type="checkbox" id="paid_deposit_box" name="query_paid_deposit" value="1">

              <label class="form-check-label" for="paid_deposit_box" class="col-auto col-form-label">Paid Deposit</label>
            </div>

            <div>
              <input class="form-check-input" type="checkbox" id="final_payment_box" name="query_final_payment" value="1">

              <label class="form-check-label" for="final_payment_box" class="col-auto col-form-label">Final Payment</label>
            </div>

            <div class="row mb-2">
              <label for="price_options_box" class="col-auto col-form-label">
                Price Options
              </label>

              <div class="col-auto">
                <textarea class="form-control" id="price_options_box" name="query_price_options" rows="3"></textarea>
              </div>
            </div>

            <div class="row mb-2">
              <label for="pdf_box" class="col-auto col-form-label">
                PDF
              </label>

              <div class="col-auto">
                <input class="form-control" type="file" id="pdf_box" name="query_pdf">
              </div>
            </div>

            <div class="row mb-2">
              <label for="notes_box" class="col-auto col-form-label">
                Notes
              </label>

              <div class="col-auto">
                <textarea class="form-control" id="notes_box" name="query_notes" rows="3"></textarea>
              </div>
            </div>

            <div class="row mb-2">
              <label for="deposit_box" class="col-auto col-form-label">
                Deposit %
              </label>

              <div class="col-auto">
                <input type="number" id="deposit_box" name="query_deposit" value="0">
              </div>
            </div>

            <div class="row mb-2">
              <label for="final_price_box" class="col-auto col-form-label">
                Final Price $
              </label>

              <div class="col-auto">
                <input type="number" id="final_price_box" name="query_final_price" value="0">
              </div>
            </div>

            <div style="height:10;"></div>

            <button type="submit" class="btn btn-primary btn-sm">
              Create Transportation Company
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-sm align-middle">
      <thead>
        <tr>
          <th>
            ID
          </th>

          <th>
            Name
          </th>

          <th>
            Website
          </th>

          <th>
            Photo URL
          </th>

          <th>
            Contact Name
          </th>

          <th>
            Contact Email
          </th>

          <th>
            Neighborhood
          </th>

          <th>
            Contacted
          </th>

          <th>
            Chosen
          </th>

          <th>
            Signed Contract
          </th>

          <th>
            Paid Deposit
          </th>

          <th>
            Final Payment
          </th>

          <th>
            Price Options
          </th>

          <th>
            PDF
          </th>

          <th>
            Notes
          </th>

          <th>
            Deposit %
          </th>

          <th>
            Final Price $
          </th>

          <th>
            Created at
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <% @list_of_transportation_companies.each do |a_transportation_company| %>
          <tr>
            <td>
              <%= a_transportation_company.id %>
            </td>

            <td>
              <%= a_transportation_company.name %>
            </td>

            <td>
              <a href="<%= a_transportation_company.website %>"><%= a_transportation_company.website %></a>
            </td>

            <td>
              <img src = "<%= a_transportation_company.photo_url %>" class="d-block mx-auto" style="width: auto; height: 200px;"></a>
            </td>

            <td>
              <%= a_transportation_company.contact_name %>
            </td>

            <td>
              <%= a_transportation_company.contact_email %>
            </td>

            <td>
              <%= Neighborhood.where({ :id => a_transportation_company.neighborhood_id }).at(0).name %>
            </td>

            <td style="text-align: center;">
              <% if a_transportation_company.contacted == true %>
                <div><h4 class="text-success" data-bs-toggle="tooltip"> &#10004</h4></div>
              <% else %>
                <div><h4 class="text-danger" data-bs-toggle="tooltip"> &#10008</h4></div>
              <% end %>
            </td>

            <td style="text-align: center;">
              <% if a_transportation_company.chosen == true %>
                <div><h4 class="text-success" data-bs-toggle="tooltip"> &#10004</h4></div>
              <% else %>
                <div><h4 class="text-danger" data-bs-toggle="tooltip"> &#10008</h4></div>
              <% end %>
            </td>

            <td style="text-align: center;">
              <% if a_transportation_company.signed_contract == true %>
                <div><h4 class="text-success" data-bs-toggle="tooltip"> &#10004</h4></div>
              <% else %>
                <div><h4 class="text-danger" data-bs-toggle="tooltip"> &#10008</h4></div>
              <% end %>
            </td>

            <td style="text-align: center;">
              <% if a_transportation_company.paid_deposit == true %>
                <div><h4 class="text-success" data-bs-toggle="tooltip"> &#10004</h4></div>
              <% else %>
                <div><h4 class="text-danger" data-bs-toggle="tooltip"> &#10008</h4></div>
              <% end %>
            </td>

            <td style="text-align: center;">
              <% if a_transportation_company.final_payment == true %>
                <div><h4 class="text-success" data-bs-toggle="tooltip"> &#10004</h4></div>
              <% else %>
                <div><h4 class="text-danger" data-bs-toggle="tooltip"> &#10008</h4></div>
              <% end %>
            </td>

            <td>
              <%= a_transportation_company.price_options %>
            </td>

            <td>
              <%= a_transportation_company.pdf %>
            </td>

            <td>
              <%= a_transportation_company.notes %>
            </td>

            <td>
              <%= a_transportation_company.deposit.to_fs( :percentage, { :precision => 0 } ) %>
            </td>

            <td>
              <%= a_transportation_company.final_price.to_fs(:currency) %>
            </td>

            <td>
              <%= time_ago_in_words(a_transportation_company.created_at) %> ago
            </td>
            <td>
              <%= time_ago_in_words(a_transportation_company.updated_at) %> ago
            </td>

            <td>
              <a href="/transportation_companies/<%= a_transportation_company.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>
