<div class="container-fluid">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <div class="container-fluid">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="inline-form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="inline-form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <span class="form-text" style="margin-left: 20px;">Leave blank if you don't want to change it.</span>
      </div>

      <div class="inline-form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <span class="form-text" style="margin-left: 20px;"><%= @minimum_password_length %> characters minimum.</span>
      </div>

      <div class="inline-form-group">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
        <span class="form-text" style="margin-left: 20px;">We need your current password to confirm your changes.</span>
      </div>

      <div class="actions">
        <%= f.submit "Update", class:"btn btn-success" %>
      </div>
    <% end %>
  </div>

  <div style="height: 20px;"></div>

  <h3>Cancel My Account</h3>

  <div class="container-fluid">
    <div><%= button_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></div>

  </div>
</div>
