<div class="container-fluid">

  <h2>Sign up</h2>

  <div class="container-fluid">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="inline-form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="inline-form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
        <span class="form-text" style="margin-left: 20px;"><%= @minimum_password_length %> characters minimum.</span>
        <% end %><br />
      </div>

      <div class="inline-form-group">
        <%= f.label :password_confirmation, "Password Confirmation" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <span class="form-text" style="margin-left: 20px;">Passwords must match.</span>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

  <hr>

  <div class="container-fluid">
    <div class="btn btn-primary" style="color: white;">
      <%= link_to "Sign in", "/users/sign_in", style: "color: inherit; text-decoration: none;" %>
    </div>
  </div>
</div>
