<div>
  <div class="container-fluid">
    <h1>
      List of all Cuisines
    </h1>
  </div>
</div>

<hr>

<div class="accordion accordion-flush accordion-" id="accordion_cuisine">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-green"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h2>Add a New Cuisine</h2>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion_cuisine">
      <div class="accordion-body">
        <div>
          <form action="/insert_cuisine" method="post">
            <div class="row mb-2">
              <label for="cuisine_name_box" class="col-auto col-form-label">
                Name
              </label>

              <div class="col-auto">
                <input class="form-control" type="text" id="cuisine_name_box" name="query_cuisine_name">
              </div>
            </div>

            <div class="row mb-2">
              <label for="photo_url_box" class="col-auto col-form-label">
                Photo URL
              </label>

              <div class="col-sm-10">
                <input class="form-control" type="text" id="photo_url_box" name="query_photo_url">
              </div>
            </div>

            <div style="height: 10px;"></div>

            <button type="submit" class="btn btn-primary btn-sm">
              Create Cuisine
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div>
  <div class="table-responsive m-3">
    <table class="table table-bordered table-striped table-hover table-sm align-middle">
      <thead>
        <tr>
          <th>
            ID
          </th>

          <th>
            Name
          </th>

          <th>
            Photo URL
          </th>

          <th>
            Created at
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <% @list_of_cuisines.each do |a_cuisine| %>
          <tr>
            <td>
              <%= a_cuisine.id %>
            </td>

            <td>
              <%= a_cuisine.name %>
            </td>

            <td>
              <%= a_cuisine.photo_url %>
            </td>

            <td>
              <%= time_ago_in_words(a_cuisine.created_at) %> ago
            </td>
            <td>
              <%= time_ago_in_words(a_cuisine.updated_at) %> ago
            </td>

            <td>
              <a href="/cuisines/<%= a_cuisine.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>
