<div>
  <div>
    <h1>
      List of all Bakeries
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new Bakery
    </h2>

    <form action="/insert_bakery" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address">
      </div>

      <div>
        <label for="neighborhood_name_box">
          Neighborhood
        </label>

        <select id="neighborhood_name_box" name="query_neighborhood_name">
          <% @list_of_neighborhoods.each do |a_neighborhood| %>
            <option value="<%= a_neighborhood.name %>"><%= a_neighborhood.name %></option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website">
      </div>

      <div>
        <label for="contact_name_box">
          Contact name
        </label>

        <input type="text" id="contact_name_box" name="query_contact_name">
      </div>

      <div>
        <label for="contact_email_box">
          Contact email
        </label>

        <input type="email" id="contact_email_box" name="query_contact_email">
      </div>

      <div>
        <input type="checkbox" id="contacted_box" name="query_contacted" value="1">

        <label for="contacted_box">Contacted</label>
      </div>

      <div>
        <input type="checkbox" id="tried_box" name="query_tried" value="1">

        <label for="tried_box">Tried</label>
      </div>

      <div>
        <input type="checkbox" id="chosen_box" name="query_chosen" value="1">

        <label for="chosen_box">Chosen</label>
      </div>

      <div>
        <label for="price_options_box">
          Price options
        </label>

        <textarea id="price_options_box" name="query_price_options" rows="3"></textarea>
      </div>

      <div>
        <label for="photo_url_box">
          Photo url
        </label>

        <input type="text" id="photo_url_box" name="query_photo_url">
      </div>

      <div>
        <label for="pdf_box">
          Pdf
        </label>

        <input type="text" id="pdf_box" name="query_pdf">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes" rows="3"></textarea>
      </div>

      <div>
        <label for="deposit_box">
          Deposit %
        </label>

        <input type="number" id="deposit_box" name="query_deposit" value = "0">
      </div>

      <div>
        <label for="final_price_box">
          Final price $
        </label>

        <input type="number" id="final_price_box" name="query_final_price" value = "0" >
      </div>

      <button>
        Create Bakery
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Address
        </th>

        <!--To delete-->
        <th>
          Lat
        </th>

        <th>
          Lng
        </th>

        <th>
          Neighborhood
        </th>

        <th>
          Website
        </th>

        <th>
          Contact name
        </th>

        <th>
          Contact email
        </th>

        <th>
          Contacted
        </th>

        <th>
          Tried
        </th>

        <th>
          Chosen
        </th>

        <th>
          Price options
        </th>

        <th>
          Photo url
        </th>

        <th>
          Pdf
        </th>

        <th>
          Notes
        </th>

        <th>
          Deposit
        </th>

        <th>
          Final price
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bakeries.each do |a_bakery| %>
      <tr>
        <td>
          <%= a_bakery.id %>
        </td>

        <td>
          <%= a_bakery.name %>
        </td>

        <td>
          <%= a_bakery.address %>
        </td>

        <td>
          <%= a_bakery.lat %>
        </td>

        <td>
          <%= a_bakery.lng %>
        </td>

        <td>
          <%= Neighborhood.where({ :id => a_bakery.neighborhood_id }).at(0).name %>
        </td>

        <td>
          <a href="<%= a_bakery.website %>"><%= a_bakery.website %></a>
        </td>

        <td>
          <%= a_bakery.contact_name %>
        </td>

        <td>
          <%= a_bakery.contact_email %>
        </td>

        <td>
          <%= a_bakery.contacted %>
        </td>

        <td>
          <%= a_bakery.tried %>
        </td>

        <td>
          <%= a_bakery.chosen %>
        </td>

        <td>
          <%= a_bakery.price_options %>
        </td>

        <td>
          <img src = "<%= a_bakery.photo_url %>"></a>
        </td>

        <td>
          <%= a_bakery.pdf %>
        </td>

        <td>
          <%= a_bakery.notes %>
        </td>

        <td>
          <%= a_bakery.deposit.round(0) %>%
        </td>

        <td>
          $<%= a_bakery.final_price.round(2) %>
        </td>

        <td>
          <%= time_ago_in_words(a_bakery.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_bakery.updated_at) %> ago
        </td>

        <td>
          <a href="/bakeries/<%= a_bakery.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
