<div>
  <div>
    <h1>
      Bakery #<%= @the_bakery.id %> details
    </h1>

    <div>
      <div>
        <a href="/bakeries">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_bakery/<%= @the_bakery.id %>">
          Delete bakery
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_bakery.name %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_bakery.address %>
      </dd>

      <dt>
        Lat
      </dt>
      <dd>
        <%= @the_bakery.lat %>
      </dd>

      <dt>
        Lng
      </dt>
      <dd>
        <%= @the_bakery.lng %>
      </dd>

      <dt>
        Website
      </dt>
      <dd>
        <a href="<%= @the_bakery.website %>"><%= @the_bakery.website %></a>
      </dd>

      <dt>
        Contacted
      </dt>
      <dd>
        <%= @the_bakery.contacted %>
      </dd>

      <dt>
        Tried
      </dt>
      <dd>
        <%= @the_bakery.tried %>
      </dd>

      <dt>
        Chosen
      </dt>
      <dd>
        <%= @the_bakery.chosen %>
      </dd>

      <dt>
        Contact name
      </dt>
      <dd>
        <%= @the_bakery.contact_name %>
      </dd>

      <dt>
        Price options
      </dt>
      <dd>
        <%= @the_bakery.price_options %>
      </dd>

      <dt>
        Photo url
      </dt>
      <dd>
        <img src = "<%= @the_bakery.photo_url %>"></a>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_bakery.notes %>
      </dd>

      <dt>
        Pdf
      </dt>
      <dd>
        <%= @the_bakery.pdf %>
      </dd>

      <dt>
        Deposit
      </dt>
      <dd>
        <%= @the_bakery.deposit.round(0) %>%
      </dd>

      <dt>
        Final price
      </dt>
      <dd>
        $<%= @the_bakery.final_price.round(2) %>
      </dd>

      <dt>
        Neighborhood
      </dt>
      <dd>
        <%= @the_bakery.neighborhood_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bakery.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bakery.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit bakery
    </h2>

    <form action="/modify_bakery/<%= @the_bakery.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_bakery.name %>">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address" value="<%= @the_bakery.address %>">
      </div>

      <div>
        <label for="lat_box">
          Lat
        </label>

        <input type="text" id="lat_box" name="query_lat" value="<%= @the_bakery.lat %>">
      </div>

      <div>
        <label for="lng_box">
          Lng
        </label>

        <input type="text" id="lng_box" name="query_lng" value="<%= @the_bakery.lng %>">
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input type="text" id="website_box" name="query_website" value="<%= @the_bakery.website %>">
      </div>

      <div>
        <input type="checkbox" id="contacted_box" name="query_contacted" value="1" <%= "checked" if @the_bakery.contacted %>>

        <label for="contacted_box">
            Contacted
        </label>
      </div>

      <div>
        <input type="checkbox" id="tried_box" name="query_tried" value="1" <%= "checked" if @the_bakery.tried %>>

        <label for="tried_box">
            Tried
        </label>
      </div>

      <div>
        <input type="checkbox" id="chosen_box" name="query_chosen" value="1" <%= "checked" if @the_bakery.chosen %>>

        <label for="chosen_box">
            Chosen
        </label>
      </div>

      <div>
        <label for="contact_name_box">
          Contact name
        </label>

        <input type="text" id="contact_name_box" name="query_contact_name" value="<%= @the_bakery.contact_name %>">
      </div>

      <div>
        <label for="price_options_box">
          Price options
        </label>

        <textarea id="price_options_box" name="query_price_options"><%= @the_bakery.price_options %></textarea>
      </div>

      <div>
        <label for="photo_url_box">
          Photo url
        </label>

        <input type="text" id="photo_url_box" name="query_photo_url" value="<%= @the_bakery.photo_url %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes"><%= @the_bakery.notes %></textarea>
      </div>

      <div>
        <label for="pdf_box">
          Pdf
        </label>

        <input type="text" id="pdf_box" name="query_pdf" value="<%= @the_bakery.pdf %>">
      </div>

      <div>
        <label for="deposit_box">
          Deposit
        </label>

        <input type="text" id="deposit_box" name="query_deposit" value="<%= @the_bakery.deposit %>">
      </div>

      <div>
        <label for="final_price_box">
          Final price
        </label>

        <input type="text" id="final_price_box" name="query_final_price" value="<%= @the_bakery.final_price %>">
      </div>

      <div>
        <label for="neighborhood_id_box">
          Neighborhood
        </label>

        <input type="text" id="neighborhood_id_box" name="query_neighborhood_id" value="<%= @the_bakery.neighborhood_id %>">
      </div>

      <button>
        Update bakery
      </button>
    </form>
  </div>
</div>

<hr>
