<div>
  <div>
    <h1>
      <a href="<%= @the_bakery.website %>"><%= @the_bakery.name %></a>
    </h1>

    <div>
      <div>
        <a href="/bakeries">
          Go back
        </a>
      </div>
    </div>
  </div>

  <div>
    <div class="container text-center">
      <div class="row mb-4">
        <div class="col">
          <h4>Address</h4>
          <%= @the_bakery.address %>
        </div>
        <div class="col">
          <h4>Neighborhood</h4>
          <%= Neighborhood.where({ :id => @the_bakery.neighborhood_id }).at(0).name %>
        </div>
      </div>
      
      <div class="row mb-4">
        <div class="col">
          <h4>Contact Name</h4>
          <%= @the_bakery.contact_name %>
        </div>
        <div class="col">
          <h4>Contact Email</h4>
          <%= @the_bakery.contact_email %>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col">
          <h4>Contacted</h4>
          <%= @the_bakery.contacted %>
        </div>
        <div class="col">
          <h4>Tried</h4>
          <%= @the_bakery.tried %>
        </div>
        <div class="col">
          <h4>Chosen</h4>
          <%= @the_bakery.chosen %>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col">
          <h4>Photo</h4>
          <img src = "<%= @the_bakery.photo_url %>"></a>
        </div>
        <div class="col">
          <h4>PDF</h4>
          <%= @the_bakery.pdf %>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col">
          <h4>Price Options</h4>
          <%= @the_bakery.price_options %>
        </div>
        <div class="col">
          <h4>Notes</h4>
          <%= @the_bakery.notes %>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col">
          <h4>Deposit</h4>
          <%= @the_bakery.deposit.round(0) %>%
        </div>
        <div class="col">
          <h4>Final Price</h4>
          $<%= @the_bakery.final_price.round(2) %>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col">
          <h4>Created At</h4>
          <%= time_ago_in_words(@the_bakery.created_at) %> ago
        </div>
        <div class="col">
          <h4>Updated At</h4>
          <%= time_ago_in_words(@the_bakery.updated_at) %> ago
        </div>
      </div>
    </div>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit Bakery
    </h2>

    <form action="/modify_bakery/<%= @the_bakery.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input class="form-text" type="text" id="name_box" name="query_name" value="<%= @the_bakery.name %>">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <input class="form-text" type="text" id="address_box" name="query_address" value="<%= @the_bakery.address %>">
      </div>
      
      <div>
        <label for="neighborhood_name_box">
          Neighborhood
        </label>

        <select id="neighborhood_name_box" name="query_neighborhood_name" value="<%= @the_bakery_neighborhood.name %>">
          <% @list_of_neighborhoods.each do |a_neighborhood| %>
            <% if a_neighborhood.id == @the_bakery.neighborhood_id%>
              <option value="<%= a_neighborhood.name %>" selected><%= a_neighborhood.name %></option>
            <% else %>
              <option value="<%= a_neighborhood.name %>"><%= a_neighborhood.name %></option>
            <% end %>
            
          <% end %>
        </select>
      </div>

      <div>
        <label for="website_box">
          Website
        </label>

        <input class="form-text" type="url" id="website_box" name="query_website" value="<%= @the_bakery.website %>">
      </div>

      <div>
        <label for="contact_name_box">
          Contact name
        </label>

        <input class="form-text" type="text" id="contact_name_box" name="query_contact_name" value="<%= @the_bakery.contact_name %>">
      </div>

      <div>
        <label for="contact_email_box">
          Contact email
        </label>

        <input class="form-text" type="email" id="contact_email_box" name="query_contact_email" value="<%= @the_bakery.contact_email %>">
      </div>

      <div>
        <input class="form-check-input" type="checkbox" id="contacted_box" name="query_contacted" value="1" <%= "checked" if @the_bakery.contacted %>>

        <label class="form-check-label" for="contacted_box">
            Contacted
        </label>
      </div>

      <div>
        <input class="form-check-input" type="checkbox" id="tried_box" name="query_tried" value="1" <%= "checked" if @the_bakery.tried %>>

        <label class="form-check-label" for="tried_box">
            Tried
        </label>
      </div>

      <div>
        <input class="form-check-input" type="checkbox" id="chosen_box" name="query_chosen" value="1" <%= "checked" if @the_bakery.chosen %>>

        <label class="form-check-label" for="chosen_box">
            Chosen
        </label>
      </div>

      <div>
        <label for="price_options_box">
          Price options
        </label>

        <textarea class="form-text" id="price_options_box" name="query_price_options"><%= @the_bakery.price_options %></textarea>
      </div>

      <div>
        <label for="photo_url_box">
          Photo url
        </label>

        <input type="text" id="photo_url_box" name="query_photo_url" value="<%= @the_bakery.photo_url %>">
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea class="form-text" id="notes_box" name="query_notes"><%= @the_bakery.notes %></textarea>
      </div>

      <div>
        <label for="pdf_box">
          PDF
        </label>

        <input class="form-control" type="file" id="pdf_box" name="query_pdf" value="<%= @the_bakery.pdf %>">
      </div>

      <div>
        <label for="deposit_box">
          Deposit %
        </label>

        <input class="form-text" type="number" id="deposit_box" name="query_deposit" value="<%= @the_bakery.deposit.round(0) %>">
      </div>

      <div>
        <label for="final_price_box">
          Final price $
        </label>

        <input class="form-text" type="number" id="final_price_box" name="query_final_price" value="<%= @the_bakery.final_price.round(2) %>">
      </div>

      <div style="height: 10px;"></div>

      <button type="submit" class="btn btn-primary btn-sm">
        Update Bakery
      </button>
    </form>
  </div>

  <div style="height: 10px;"></div>

  <div>
    <form action="/delete_bakery/<%= @the_bakery.id %>"  method="get" >
      <button type="submit" class="btn btn-danger btn-sm">
        Delete Bakery
      </button>
    </form>
  </div>
</div>

<hr>
