<div class="container-fluid">

  <h2>Forgot Your Password?</h2>

  <div class="container-fluid">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="inline-form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-secondary" %>
      </div>
    <% end %>

  <hr>

  <div class="btn btn-success" style="color: white;">
    <%= link_to "Log in", "/users/sign_in", style: "color: inherit; text-decoration: none;" %>
  </div>
  
  <div style="height: 10px;"></div>

  <div class="btn btn-primary" style="color: white;">
    <%= link_to "Sign up", "/users/sign_up", style: "color: inherit; text-decoration: none;" %>
  </div>
</div>
