<div>
  <div class="container-fluid">
    <h1>
      List of all Events
    </h1>
  </div>
</div>

<hr>

<div class="accordion accordion-flush accordion-" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h2>Add a New Event</h2>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div>
          <form action="/insert_event" method="post">
            <div class="row mb-2">
              <label for="name_box" class="col-auto col-form-label">
                Name
              </label>

              <div class="col-auto">
                <input class="form-control" type="text" id="name_box" name="query_name">
              </div>
            </div>

            <div class="row mb-2">
              <label for="chronological_order_box" class="col-auto col-form-label">
                Chronological order
              </label>

              <div class="col-auto">
                <input class="form-control" type="text" id="chronological_order_box" name="query_chronological_order">
              </div>
            </div>

            <div class="row mb-2">
              <label for="bakery_name_box" class="col-auto col-form-label">
                Bakery
              </label>

              <div class="col-auto col-form-label">
                <select id="bakery_name_box" name="query_bakery_name">
                  <% @list_of_bakeries.each do |a_bakery| %>
                    <option value="<%= a_bakery.name %>"><%= a_bakery.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="coordinator_name_box" class="col-auto col-form-label">
                Coordinator
              </label>

              <div class="col-auto col-form-label">
                <select id="coordinator_name_box" name="query_coordinator_name">
                  <% @list_of_coordinators.each do |a_coordinator| %>
                    <option value="<%= a_coordinator.name %>"><%= a_coordinator.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="dj_name_box" class="col-auto col-form-label">
                DJ
              </label>

              <div class="col-auto col-form-label">
                <select id="dj_name_box" name="query_dj_name">
                  <% @list_of_djs.each do |a_dj| %>
                    <option value="<%= a_dj.name %>"><%= a_dj.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="florist_name_box" class="col-auto col-form-label">
                Florist
              </label>

              <div class="col-auto col-form-label">
                <select id="florist_name_box" name="query_florist_name">
                  <% @list_of_florists.each do |a_florist| %>
                    <option value="<%= a_florist.name %>"><%= a_florist.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="hotel_name_box" class="col-auto col-form-label">
                Hotel
              </label>

              <div class="col-auto col-form-label">
                <select id="hotel_name_box" name="query_hotel_name">
                  <% @list_of_hotels.each do |a_hotel| %>
                    <option value="<%= a_hotel.name %>"><%= a_hotel.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="lighting_production_company_name_box" class="col-auto col-form-label">
                Lighting & Production Company
              </label>

              <div class="col-auto col-form-label">
                <select id="lighting_production_company_name_box" name="query_lighting_production_company_name">
                  <% @list_of_lighting_production_companies.each do |a_lighting_production_company| %>
                    <option value="<%= a_lighting_production_company.name %>"><%= a_lighting_production_company.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="photographer_name_box" class="col-auto col-form-label">
                Photographer
              </label>

              <div class="col-auto col-form-label">
                <select id="photographer_name_box" name="query_photographer_name">
                  <% @list_of_photographers.each do |a_photographer| %>
                    <option value="<%= a_photographer.name %>"><%= a_photographer.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="transportation_company_name_box" class="col-auto col-form-label">
                Transportation Companies
              </label>

              <div class="col-auto col-form-label">
                <select id="transportation_company_name_box" name="query_transportation_company_name">
                  <% @list_of_transportation_companies.each do |a_transportation_company| %>
                    <option value="<%= a_transportation_company.name %>"><%= a_transportation_company.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="venue_name_box" class="col-auto col-form-label">
                Venue
              </label>

              <div class="col-auto col-form-label">
                <select id="venue_name_box" name="query_venue_name">
                  <% @list_of_venues.each do |a_venue| %>
                    <option value="<%= a_venue.name %>"><%= a_venue.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="neighborhood_name_box" class="col-auto col-form-label">
                Neighborhood
              </label>

              <div class="col-auto col-form-label">
                <select id="neighborhood_name_box" name="query_neighborhood_name">
                  <% @list_of_neighborhoods.each do |a_neighborhood| %>
                    <option value="<%= a_neighborhood.name %>"><%= a_neighborhood.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div style="height: 5px;"></div>

            <button type="submit" class="btn btn-primary btn-sm">
              Create Event
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-sm align-middle">
      <thead>
        <tr>
          <th>
            ID
          </th>

          <th>
            Name
          </th>

          <th>
            Chronological order
          </th>

          <th>
            Bakery
          </th>

          <th>
            Coordinator
          </th>

          <th>
            Dj
          </th>

          <th>
            Florist
          </th>

          <th>
            Hotel
          </th>

          <th>
            Lighting production company
          </th>

          <th>
            Photographer
          </th>

          <th>
            Transportation company
          </th>

          <th>
            Venue
          </th>

          <th>
            Neighborhood
          </th>

          <th>
            Created at
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <% @list_of_events.each do |an_event| %>
          <tr>
            <td>
              <%= an_event.id %>
            </td>

            <td>
              <%= an_event.name %>
            </td>

            <td>
              <%= an_event.chronological_order %>
            </td>

            <td>
              <%= Bakery.where({ :id => an_event.bakery_id }).at(0).name %>
            </td>

            <td>
              <%= Coordinator.where({ :id => an_event.coordinator_id }).at(0).name %>
            </td>

            <td>
              <%= Dj.where({ :id => an_event.dj_id }).at(0).name %>
            </td>

            <td>
              <%= Florist.where({ :id => an_event.florist_id }).at(0).name %>
            </td>

            <td>
              <%= Hotel.where({ :id => an_event.hotel_id }).at(0).name %>
            </td>

            <td>
              <%= LightingProductionCompany.where({ :id => an_event.lighting_production_company_id }).at(0).name %>
            </td>

            <td>
              <%= Photographer.where({ :id => an_event.photographer_id }).at(0).name %>
            </td>

            <td>
              <%= TransportationCompany.where({ :id => an_event.transportation_company_id }).at(0).name %>
            </td>

            <td>
              <%= Venue.where({ :id => an_event.venue_id }).at(0).name %>
            </td>

            <td>
              <%= Neighborhood.where({ :id => an_event.neighborhood_id }).at(0).name %>
            </td>

            <td>
              <%= time_ago_in_words(an_event.created_at) %> ago
            </td>
            <td>
              <%= time_ago_in_words(an_event.updated_at) %> ago
            </td>

            <td>
              <a href="/events/<%= an_event.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>
