<div>
  <div class="container-fluid">
    <h1>
      List of all Events
    </h1>
  </div>
</div>

<hr>

<div class="accordion accordion-flush accordion-" id="accordion_event">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-green"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h2>Add a New Event</h2>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion_event">
      <div class="accordion-body">
        <div>
          <form action="/insert_event" method="post">
            <div class="row mb-2">
              <label for="name_box" class="col-auto col-form-label">
                Name
              </label>

              <div class="col-auto">
                <input class="form-control" type="text" id="name_box" name="query_name">
              </div>
            </div>

            <div class="row mb-2">
              <label for="date_box" class="col-auto col-form-label">
                Date
              </label>

              <div class="col-auto">
                <input class="form-control" type="date" id="date_box" name="query_date" value="2026-05-15">
              </div>
            </div>

            <div class="row mb-2">
              <label for="chronological_order_box" class="col-auto col-form-label">
                Chronological Order
              </label>

              <div class="col-auto">
                <input class="form-control" type="text" id="chronological_order_box" name="query_chronological_order">
              </div>
            </div>

            <div class="row mb-2">
              <label for="photo_url_box" class="col-auto col-form-label">
                Photo URL
              </label>

              <div class="col-sm-10">
                <input class="form-control" type="text" id="photo_url_box" name="query_photo_url">
              </div>
            </div>

            <div class="row mb-2">
              <label for="bakery_name_box" class="col-auto col-form-label">
                Bakery
              </label>

              <div class="col-auto col-form-label">
                <select id="bakery_name_box" name="query_bakery_name">
                  <% @list_of_bakeries.each do |a_bakery| %>
                    <option value="<%= a_bakery.name %>"><%= a_bakery.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="coordinator_name_box" class="col-auto col-form-label">
                Coordinator
              </label>

              <div class="col-auto col-form-label">
                <select id="coordinator_name_box" name="query_coordinator_name">
                  <% @list_of_coordinators.each do |a_coordinator| %>
                    <option value="<%= a_coordinator.name %>"><%= a_coordinator.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="dj_name_box" class="col-auto col-form-label">
                DJ
              </label>

              <div class="col-auto col-form-label">
                <select id="dj_name_box" name="query_dj_name">
                  <% @list_of_djs.each do |a_dj| %>
                    <option value="<%= a_dj.name %>"><%= a_dj.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="florist_name_box" class="col-auto col-form-label">
                Florist
              </label>

              <div class="col-auto col-form-label">
                <select id="florist_name_box" name="query_florist_name">
                  <% @list_of_florists.each do |a_florist| %>
                    <option value="<%= a_florist.name %>"><%= a_florist.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="hotel_name_box" class="col-auto col-form-label">
                Hotel
              </label>

              <div class="col-auto col-form-label">
                <select id="hotel_name_box" name="query_hotel_name">
                  <% @list_of_hotels.each do |a_hotel| %>
                    <option value="<%= a_hotel.name %>"><%= a_hotel.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="lighting_production_company_name_box" class="col-auto col-form-label">
                Lighting & Production Company
              </label>

              <div class="col-auto col-form-label">
                <select id="lighting_production_company_name_box" name="query_lighting_production_company_name">
                  <% @list_of_lighting_production_companies.each do |a_lighting_production_company| %>
                    <option value="<%= a_lighting_production_company.name %>"><%= a_lighting_production_company.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="photographer_name_box" class="col-auto col-form-label">
                Photographer
              </label>

              <div class="col-auto col-form-label">
                <select id="photographer_name_box" name="query_photographer_name">
                  <% @list_of_photographers.each do |a_photographer| %>
                    <option value="<%= a_photographer.name %>"><%= a_photographer.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="transportation_company_name_box" class="col-auto col-form-label">
                Transportation Companies
              </label>

              <div class="col-auto col-form-label">
                <select id="transportation_company_name_box" name="query_transportation_company_name">
                  <% @list_of_transportation_companies.each do |a_transportation_company| %>
                    <option value="<%= a_transportation_company.name %>"><%= a_transportation_company.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="venue_name_box" class="col-auto col-form-label">
                Venue
              </label>

              <div class="col-auto col-form-label">
                <select id="venue_name_box" name="query_venue_name">
                  <% @list_of_venues.each do |a_venue| %>
                    <option value="<%= a_venue.name %>"><%= a_venue.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="neighborhood_name_box" class="col-auto col-form-label">
                Neighborhood
              </label>

              <div class="col-auto col-form-label">
                <select id="neighborhood_name_box" name="query_neighborhood_name">
                  <% @list_of_neighborhoods.each do |a_neighborhood| %>
                    <option value="<%= a_neighborhood.name %>"><%= a_neighborhood.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div style="height: 5px;"></div>

            <button type="submit" class="btn btn-primary btn-sm">
              Create Event
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>


  <div class="container my-5">
    <!-- Row 1: 2 Boxes -->
    <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
      <div class="col-md-6">
        <a href="/events/<%= Event.where({ :chronological_order => 1 }).first.id %>" class="text-decoration-none">
          <div class="card">
            <img src="<%= Event.where({ :chronological_order => 1 }).first.photo_url %>" class="card-img-top" alt="Image 1">
            <div class="card-body">
              <h5 class="card-title"><%= Event.where({ :chronological_order => 1 }).first.name %></h5>
              <ul class="no-bullets">
                <li>
                  <p class="card-text"><strong>Date</strong>: <%= Event.where({ :id => Event.where({ :chronological_order => 1 }).first.id }).first.date.strftime("%B %d, %Y") %></p>
                </li>
                <li>
                  <p class="card-text"><strong>Venue</strong>: <%= Venue.where({ :id => Event.where({ :chronological_order => 1 }).first.venue_id }).first.name %></p>
                </li>
                <li>
                  <p class="card-text"><strong>Neighborhood</strong>: <%= Neighborhood.where({ :id => Event.where({ :chronological_order => 1 }).first.neighborhood_id }).first.name %></p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="/events/<%= Event.where({ :chronological_order => 2 }).first.id %>" class="text-decoration-none">
          <div class="card">
            <img src="<%= Event.where({ :chronological_order => 2 }).first.photo_url %>" class="card-img-top" alt="Image 2">
            <div class="card-body">
              <h5 class="card-title"><%= Event.where({ :chronological_order => 2 }).first.name %></h5>
              <ul class="no-bullets">
                <li>
                  <p class="card-text"><strong>Date</strong>: <%= Event.where({ :id => Event.where({ :chronological_order => 2 }).first.id }).first.date.strftime("%B %d, %Y") %></p>
                </li>
                <li>
                  <p class="card-text"><strong>Coordinator</strong>: <%= Coordinator.where({ :id => Event.where({ :chronological_order => 2 }).first.coordinator_id }).first.name %></p>
                </li>
                <li>
                  <p class="card-text"><strong>Florist</strong>: <%= Florist.where({ :id => Event.where({ :chronological_order => 2 }).first.florist_id }).first.name %></p>
                </li>
                <li>
                  <p class="card-text"><strong>Lighting & Production</strong>: <%= LightingProductionCompany.where({ :id => Event.where({ :chronological_order => 2 }).first.lighting_production_company_id }).first.name %></p>
                </li>
                <li>
                  <p class="card-text"><strong>Photographer</strong>: <%= Photographer.where({ :id => Event.where({ :chronological_order => 2 }).first.photographer_id }).first.name %></p>
                </li>
                <li>
                  <p class="card-text"><strong>Transportation</strong>: <%= TransportationCompany.where({ :id => Event.where({ :chronological_order => 2 }).first.transportation_company_id }).first.name %></p>
                </li>
                <li>
                  <p class="card-text"><strong>Venue</strong>: <%= Venue.where({ :id => Event.where({ :chronological_order => 2 }).first.venue_id }).first.name %></p>
                </li>
                <li>
                  <p class="card-text"><strong>Neighborhood</strong>: <%= Neighborhood.where({ :id => Event.where({ :chronological_order => 2 }).first.neighborhood_id }).first.name %></p>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- Row 2: 2 Boxes -->
    <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
      <div class="col-md-6">
        <a href="/events/<%= Event.where({ :chronological_order => 3 }).first.id %>" class="text-decoration-none">
          <div class="card">
            <img src="<%= Event.where({ :chronological_order => 3 }).first.photo_url %>" class="card-img-top" alt="Image 3">
            <div class="card-body">
              <h5 class="card-title"><%= Event.where({ :chronological_order => 3 }).first.name %></h5>
                <li>
                  <p class="card-text"><strong>Date</strong>: <%= Event.where({ :id => Event.where({ :chronological_order => 3 }).first.id }).first.date.strftime("%B %d, %Y") %></p>
                </li>
                <li>
                <p class="card-text"><strong>Florist</strong>: <%= Florist.where({ :id => Event.where({ :chronological_order => 3 }).first.florist_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Transportation</strong>: <%= TransportationCompany.where({ :id => Event.where({ :chronological_order => 3 }).first.transportation_company_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Venue</strong>: <%= Venue.where({ :id => Event.where({ :chronological_order => 3 }).first.venue_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Neighborhood</strong>: <%= Neighborhood.where({ :id => Event.where({ :chronological_order => 3 }).first.neighborhood_id }).first.name %></p>
              </li>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="/events/<%= Event.where({ :chronological_order => 4 }).first.id %>" class="text-decoration-none">
          <div class="card">
            <img src="<%= Event.where({ :chronological_order => 4 }).first.photo_url %>" class="card-img-top" alt="Image 4">
            <div class="card-body">
              <h5 class="card-title"><%= Event.where({ :chronological_order => 4 }).first.name %></h5>
                <li>
                  <p class="card-text"><strong>Date</strong>: <%= Event.where({ :id => Event.where({ :chronological_order => 4 }).first.id }).first.date.strftime("%B %d, %Y") %></p>
                </li>
                <li>
                <p class="card-text"><strong>Coordinator</strong>: <%= Coordinator.where({ :id => Event.where({ :chronological_order => 4 }).first.coordinator_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>DJ</strong>: <%= Dj.where({ :id => Event.where({ :chronological_order => 4 }).first.dj_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Florist</strong>: <%= Florist.where({ :id => Event.where({ :chronological_order => 4 }).first.florist_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Lighting & Production</strong>: <%= LightingProductionCompany.where({ :id => Event.where({ :chronological_order => 4 }).first.lighting_production_company_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Photographer</strong>: <%= Photographer.where({ :id => Event.where({ :chronological_order => 4 }).first.photographer_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Transportation</strong>: <%= TransportationCompany.where({ :id => Event.where({ :chronological_order => 4 }).first.transportation_company_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Venue</strong>: <%= Venue.where({ :id => Event.where({ :chronological_order => 4 }).first.venue_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Neighborhood</strong>: <%= Neighborhood.where({ :id => Event.where({ :chronological_order => 4 }).first.neighborhood_id }).first.name %></p>
              </li>
            </div>
          </div>
        </a>
      </div>
    </div>

        <!-- Row 3: 2 Boxes -->
    <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
      <div class="col-md-6">
        <a href="/events/<%= Event.where({ :chronological_order => 5 }).first.id %>" class="text-decoration-none">
          <div class="card">
            <img src="<%= Event.where({ :chronological_order => 5 }).first.photo_url %>" class="card-img-top" alt="Image 5">
            <div class="card-body">
              <h5 class="card-title"><%= Event.where({ :chronological_order => 5 }).first.name %></h5>
                <li>
                  <p class="card-text"><strong>Date</strong>: <%= Event.where({ :id => Event.where({ :chronological_order => 5 }).first.id }).first.date.strftime("%B %d, %Y") %></p>
                </li>
                <li>
                <p class="card-text"><strong>Coordinator</strong>: <%= Coordinator.where({ :id => Event.where({ :chronological_order => 5 }).first.coordinator_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>DJ</strong>: <%= Dj.where({ :id => Event.where({ :chronological_order => 5 }).first.dj_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Florist</strong>: <%= Florist.where({ :id => Event.where({ :chronological_order => 5 }).first.florist_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Lighting & Production</strong>: <%= LightingProductionCompany.where({ :id => Event.where({ :chronological_order => 5 }).first.lighting_production_company_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Photographer</strong>: <%= Photographer.where({ :id => Event.where({ :chronological_order => 5 }).first.photographer_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Transportation</strong>: <%= TransportationCompany.where({ :id => Event.where({ :chronological_order => 5 }).first.transportation_company_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Venue</strong>: <%= Venue.where({ :id => Event.where({ :chronological_order => 5 }).first.venue_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Neighborhood</strong>: <%= Neighborhood.where({ :id => Event.where({ :chronological_order => 5 }).first.neighborhood_id }).first.name %></p>
              </li>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="/events/<%= Event.where({ :chronological_order => 6 }).first.id %>" class="text-decoration-none">
          <div class="card">
            <img src="<%= Event.where({ :chronological_order => 6 }).first.photo_url %>" class="card-img-top" alt="Image 6">
            <div class="card-body">
              <h5 class="card-title"><%= Event.where({ :chronological_order => 6 }).first.name %></h5>
                <li>
                  <p class="card-text"><strong>Date</strong>: <%= Event.where({ :id => Event.where({ :chronological_order => 6 }).first.id }).first.date.strftime("%B %d, %Y") %></p>
                </li>
                <li>
                <p class="card-text"><strong>Bakery</strong>: <%= Bakery.where({ :id => Event.where({ :chronological_order => 6 }).first.bakery_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Coordinator</strong>: <%= Coordinator.where({ :id => Event.where({ :chronological_order => 6 }).first.coordinator_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>DJ</strong>: <%= Dj.where({ :id => Event.where({ :chronological_order => 6 }).first.dj_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Florist</strong>: <%= Florist.where({ :id => Event.where({ :chronological_order => 6 }).first.florist_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Lighting & Production</strong>: <%= LightingProductionCompany.where({ :id => Event.where({ :chronological_order => 6 }).first.lighting_production_company_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Photographer</strong>: <%= Photographer.where({ :id => Event.where({ :chronological_order => 6 }).first.photographer_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Transportation</strong>: <%= TransportationCompany.where({ :id => Event.where({ :chronological_order => 6 }).first.transportation_company_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Venue</strong>: <%= Venue.where({ :id => Event.where({ :chronological_order => 6 }).first.venue_id }).first.name %></p>
              </li>
              <li>
                <p class="card-text"><strong>Neighborhood</strong>: <%= Neighborhood.where({ :id => Event.where({ :chronological_order => 6 }).first.neighborhood_id }).first.name %></p>
              </li>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

<hr>

<!--Removing Index Table-->
<!--<div>
  <div class="table-responsive m-3">
    <table class="table table-bordered table-striped table-hover table-sm align-middle">
      <thead>
        <tr>
          <th>
            Name
          </th>

          <th>
            Date
          </th>

          <th>
            Chronological Order
          </th>

          <th>
            Photo URL
          </th>

          <th>
            Bakery
          </th>

          <th>
            Coordinator
          </th>

          <th>
            DJ
          </th>

          <th>
            Florist
          </th>

          <th>
            Hotel
          </th>

          <th>
            Lighting & Production Company
          </th>

          <th>
            Photographer
          </th>

          <th>
            Transportation Company
          </th>

          <th>
            Venue
          </th>

          <th>
            Neighborhood
          </th>

          <th>
            Created at
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <%# @list_of_events.each do |an_event| %>-->
<!--          <tr>
            <td style="text-align: center;">
              <%#= an_event.name %>-->
<!--            </td>

            <td style="text-align: center;">
              <%# if an_event.date != nil %>-->
                <%#= an_event.date.strftime("%D") %>
              <%# end %>
<!--            </td>

            <td style="text-align: center;">
              <%#= an_event.chronological_order %>-->
<!--            </td>

            <td>
              <img src = "<%#= an_event.photo_url %>" class="d-block mx-auto" style="width: auto; height: 200px;"></a>
            </td>

            <td style="text-align: center;">
              <%#= Bakery.where({ :id => an_event.bakery_id }).at(0).name %>-->
<!--            </td>

            <td style="text-align: center;">
              <%#= Coordinator.where({ :id => an_event.coordinator_id }).at(0).name %>-->
<!--            </td>

            <td style="text-align: center;">
              <%#= Dj.where({ :id => an_event.dj_id }).at(0).name %>-->
<!--            </td>

            <td style="text-align: center;">
              <%#= Florist.where({ :id => an_event.florist_id }).at(0).name %>-->
<!--            </td>

            <td style="text-align: center;">
              <%#= Hotel.where({ :id => an_event.hotel_id }).at(0).name %>-->
<!--            </td>

            <td style="text-align: center;">
              <%#= LightingProductionCompany.where({ :id => an_event.lighting_production_company_id }).at(0).name %>-->
<!--            </td>

            <td style="text-align: center;">
              <%#= Photographer.where({ :id => an_event.photographer_id }).at(0).name %>-->
<!--            </td>

            <td style="text-align: center;">
              <%#= TransportationCompany.where({ :id => an_event.transportation_company_id }).at(0).name %>-->
<!--            </td>

            <td style="text-align: center;">
              <%#= Venue.where({ :id => an_event.venue_id }).at(0).name %>-->
<!--            </td>

            <td style="text-align: center;">
              <%#= Neighborhood.where({ :id => an_event.neighborhood_id }).at(0).name %>-->
<!--            </td>

            <td>
              <%#= time_ago_in_words(an_event.created_at) %> ago-->
<!--            </td>
            <td>
              <%#= time_ago_in_words(an_event.updated_at) %> ago-->
<!--            </td>

            <td>
              <a href="/events/<%#= an_event.id %>">
                Show details
              </a>
            </td>
          </tr>
        <%# end %>-->
<!--      </tbody>
    </table>
  </div>
</div>-->

<hr>
