<div>
  <div class="container-fluid">
      <a href="/events" class="btn btn-outline-secondary">
        <i class="fas fa-arrow-left"></i> Back
      </a>
  </div>
  <div class="text-center">
    <h1>
      Event #<%= @the_event.chronological_order %>: <%= @the_event.name %>
    </h1>

    <div style="height: 10px;"></div>

    <div class="row mb-4">
        <% if @the_event.photo_url.blank? %>
        <% else %>
        <img src = "<%= @the_event.photo_url %>" class="d-block mx-auto" style="width: auto; height: 200px;"></a>
        <% end %>
    </div>
  </div>
</div>

<div>
  <div class="container text-center">
    <div class="row mb-4">
      <div class="col">
        <h4>Bakery</h4>
        <%= Bakery.where({ :id => @the_event.bakery_id }).at(0).name %>
      </div>
      <div class="col">
        <h4>Coordinator</h4>
        <%= Coordinator.where({ :id => @the_event.coordinator_id }).at(0).name %>
      </div>
      <div class="col">
        <h4>DJ</h4>
        <%= Dj.where({ :id => @the_event.dj_id }).at(0).name %>
      </div>
    </div>
    
    <div class="row mb-4">
      <div class="col">
        <h4>Florist</h4>
        <%= Florist.where({ :id => @the_event.florist_id }).at(0).name %>
      </div>
      <div class="col">
        <h4>Hotel</h4>
        <%= Hotel.where({ :id => @the_event.hotel_id }).at(0).name %>
      </div>
      <div class="col">
        <h4>Lighting/Production</h4>
        <%= LightingProductionCompany.where({ :id => @the_event.lighting_production_company_id }).at(0).name %>
      </div>
      <div class="col">
        <h4>Photographer</h4>
        <%= Photographer.where({ :id => @the_event.photographer_id }).at(0).name %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h4>Transportation</h4>
        <%= TransportationCompany.where({ :id => @the_event.transportation_company_id }).at(0).name %>
      </div>
      <div class="col">
        <h4>Venue</h4>
        <%= Venue.where({ :id => @the_event.venue_id }).at(0).name %>
      </div>
      <div class="col">
        <h4>Neighborhood</h4>
        <%= Neighborhood.where({ :id => @the_event.neighborhood_id }).at(0).name %>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <h4>Created At</h4>
        <%= time_ago_in_words(@the_event.created_at) %> ago
      </div>
      <div class="col">
        <h4>Updated At</h4>
        <%= time_ago_in_words(@the_event.updated_at) %> ago
      </div>
    </div>
  </div>
</div>

<hr>

<div>
  <div class="container-fluid">
    <h2>
      Edit Event
    </h2>

    <div style="height: 10px;"></div>

    <form action="/modify_event/<%= @the_event.id %>"  method="post" class="container-fluid">
      <div class="row mb-2">
        <label for="name_box" class="col-auto col-form-label">
          Name
        </label>

        <div class="col-auto">
          <input class="form-control" type="text" id="name_box" name="query_name" value="<%= @the_event.name %>">
        </div>
      </div>

      <div class="row mb-2">
        <label for="chronological_order_box" class="col-auto col-form-label">
          Chronological Order
        </label>

        <div class="col-auto">
          <input class="form-control" type="text" id="chronological_order_box" name="query_chronological_order" value="<%= @the_event.chronological_order %>">
        </div>
      </div>

      <div class="row mb-2">
        <label for="photo_url_box" class="col-auto col-form-label">
          Photo URL
        </label> 

        <div class="col-sm-10">
          <input class="form-control" type="text" id="photo_url_box" name="query_photo_url" value="<%= @the_event.photo_url %>">
        </div>
      </div>

      <div class="row mb-2">
        <label for="bakery_name_box" class="col-auto col-form-label">
          Bakery
        </label>

        <div class="col-auto col-form-label">
          <select id="bakery_name_box" name="query_bakery_name" value="<%= @the_event_bakery.name %>">
            <% @list_of_bakeries.each do |a_bakery| %>
              <% if a_bakery.id == @the_event.bakery_id%>
                <option value="<%= a_bakery.name %>" selected><%= a_bakery.name %></option>
              <% else %>
                <option value="<%= a_bakery.name %>"><%= a_bakery.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <label for="coordinator_name_box" class="col-auto col-form-label">
          Coordinator
        </label>

        <div class="col-auto col-form-label">
          <select id="coordinator_name_box" name="query_coordinator_name" value="<%= @the_event_coordinator.name %>">
            <% @list_of_coordinators.each do |a_coordinator| %>
              <% if a_coordinator.id == @the_event.coordinator_id%>
                <option value="<%= a_coordinator.name %>" selected><%= a_coordinator.name %></option>
              <% else %>
                <option value="<%= a_coordinator.name %>"><%= a_coordinator.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <label for="dj_name_box" class="col-auto col-form-label">
          DJ
        </label>

        <div class="col-auto col-form-label">
          <select id="dj_name_box" name="query_dj_name" value="<%= @the_event_dj.name %>">
            <% @list_of_djs.each do |a_dj| %>
              <% if a_dj.id == @the_event.dj_id%>
                <option value="<%= a_dj.name %>" selected><%= a_dj.name %></option>
              <% else %>
                <option value="<%= a_dj.name %>"><%= a_dj.name %></option>
              <% end %>
              florist
            <% end %>
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <label for="florist_name_box" class="col-auto col-form-label">
          Florist
        </label>

        <div class="col-auto col-form-label">
          <select id="florist_name_box" name="query_florist_name" value="<%= @the_event_florist.name %>">
            <% @list_of_florists.each do |a_florist| %>
              <% if a_florist.id == @the_event.florist_id%>
                <option value="<%= a_florist.name %>" selected><%= a_florist.name %></option>
              <% else %>
                <option value="<%= a_florist.name %>"><%= a_florist.name %></option>
              <% end %>
              
            <% end %>
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <label for="hotel_name_box" class="col-auto col-form-label">
          Hotel
        </label>

        <div class="col-auto col-form-label">
          <select id="hotel_name_box" name="query_hotel_name" value="<%= @the_event_hotel.name %>">
            <% @list_of_hotels.each do |a_hotel| %>
              <% if a_hotel.id == @the_event.hotel_id%>
                <option value="<%= a_hotel.name %>" selected><%= a_hotel.name %></option>
              <% else %>
                <option value="<%= a_hotel.name %>"><%= a_hotel.name %></option>
              <% end %>
              
            <% end %>
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <label for="lighting_production_company_name_box" class="col-auto col-form-label">
          Lighting & Production Company
        </label>

        <div class="col-auto col-form-label">
          <select id="lighting_production_company_name_box" name="query_lighting_production_company_name" value="<%= @the_event_lighting_production_company.name %>">
            <% @list_of_lighting_production_companies.each do |a_lighting_production_company| %>
              <% if a_lighting_production_company.id == @the_event.lighting_production_company_id%>
                <option value="<%= a_lighting_production_company.name %>" selected><%= a_lighting_production_company.name %></option>
              <% else %>
                <option value="<%= a_lighting_production_company.name %>"><%= a_lighting_production_company.name %></option>
              <% end %>
              
            <% end %>
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <label for="photographer_name_box" class="col-auto col-form-label">
          Photographer
        </label>

        <div class="col-auto col-form-label">
          <select id="photographer_name_box" name="query_photographer_name" value="<%= @the_event_photographer.name %>">
            <% @list_of_photographers.each do |a_photographer| %>
              <% if a_photographer.id == @the_event.photographer_id%>
                <option value="<%= a_photographer.name %>" selected><%= a_photographer.name %></option>
              <% else %>
                <option value="<%= a_photographer.name %>"><%= a_photographer.name %></option>
              <% end %>
              
            <% end %>
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <label for="transportation_company_name_box" class="col-auto col-form-label">
          Transportation Company
        </label>

        <div class="col-auto col-form-label">
          <select id="transportation_company_name_box" name="query_transportation_company_name" value="<%= @the_event_transportation_company.name %>">
            <% @list_of_transportation_companies.each do |a_transportation_company| %>
              <% if a_transportation_company.id == @the_event.transportation_company_id%>
                <option value="<%= a_transportation_company.name %>" selected><%= a_transportation_company.name %></option>
              <% else %>
                <option value="<%= a_transportation_company.name %>"><%= a_transportation_company.name %></option>
              <% end %>
              
            <% end %>
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <label for="venue_name_box" class="col-auto col-form-label">
          Venue
        </label>

        <div class="col-auto col-form-label">
          <select id="venue_name_box" name="query_venue_name" value="<%= @the_event_venue.name %>">
            <% @list_of_venues.each do |a_venue| %>
              <% if a_venue.id == @the_event.venue_id%>
                <option value="<%= a_venue.name %>" selected><%= a_venue.name %></option>
              <% else %>
                <option value="<%= a_venue.name %>"><%= a_venue.name %></option>
              <% end %>
              
            <% end %>
          </select>
        </div>
      </div>

      <div class="row mb-2">
        <label for="neighborhood_name_box" class="col-auto col-form-label">
          Neighborhood
        </label>

        <div class="col-auto col-form-label">
          <select id="neighborhood_name_box" name="query_neighborhood_name" value="<%= @the_event_neighborhood.name %>">
            <% @list_of_neighborhoods.each do |a_neighborhood| %>
              <% if a_neighborhood.id == @the_event.neighborhood_id%>
                <option value="<%= a_neighborhood.name %>" selected><%= a_neighborhood.name %></option>
              <% else %>
                <option value="<%= a_neighborhood.name %>"><%= a_neighborhood.name %></option>
              <% end %>
              
            <% end %>
          </select>
        </div>
      </div>

      <div style="height: 5px;"></div>

      <button type="submit" class="btn btn-primary btn-sm">
        Update Event
      </button>
    </form>
  </div>

  <div style="height: 10px;"></div>

  <div>
    <form action="/delete_event/<%= @the_event.id %>"  method="get">
      <button type="submit" class="btn btn-danger btn-sm mx-4">
        Delete Event
      </button>
    </form>
  </div>
</div>

<hr>
