<div>
  <div class="container-fluid">
    <h1>
      List of all Meals
    </h1>
  </div>
</div>

<hr>

<div class="accordion accordion-flush accordion-" id="accordion_meal">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed custom-green"  type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h2>Add a New Meal</h2>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion_meal">
      <div class="accordion-body">
        <div>
          <form action="/insert_meal" method="post">

            <div class="row mb-2">
              <label for="name_box" class="col-auto col-form-label">
                Name
              </label>

              <div class="col-auto">
                <input class="form-control" type="text" id="name_box" name="query_name">
              </div>
            </div>

            <div class="row mb-2">
              <label for="caterer_id_box" class="col-auto col-form-label">
                Caterer
              </label>

              <div class="col-auto col-form-label">
                <select id="caterer_id_box" name="query_caterer_name">
                    <option value=""></option>
                  <% @list_of_caterers.each do |a_caterer| %>
                    <option value="<%= a_caterer.name %>"><%= a_caterer.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="event_id_box" class="col-auto col-form-label">
                Event
              </label>

              <div class="col-auto col-form-label">
                <select id="event_id_box" name="query_event_name">
                    <option value=""></option>
                  <% @list_of_events.each do |an_event| %>
                    <option value="<%= an_event.name %>"><%= an_event.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <label for="photo_url_box" class="col-auto col-form-label">
                Photo URL
              </label>

              <div class="col-sm-10">
                <input class="form-control" type="text" id="photo_url_box" name="query_photo_url">
              </div>
            </div>

            <div style="height: 5px;"></div>

            <button type="submit" class="btn btn-primary btn-sm">
              Create Meal
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-sm align-middle">
      <thead>
        <tr>
          <th>
            ID
          </th>

          <th>
            Name
          </th>

          <th>
            Caterer
          </th>

          <th>
            Event
          </th>

          <th>
            Photo URL
          </th>

          <th>
            Created at
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <% @list_of_meals.each do |a_meal| %>
          <tr>
            <td>
              <%= a_meal.id %>
            </td>

            <td>
              <%= a_meal.name %>
            </td>

            <td>
              <%= Caterer.where({ :id => a_meal.caterer_id }).at(0).name %>
            </td>

            <td>
              <%= Event.where({ :id => a_meal.event_id }).at(0).name %>
            </td>

            <td>
              <img src = "<%= a_meal.photo_url %>" class="d-block mx-auto" style="width: auto; height: 200px;"></a>
            </td>

            <td>
              <%= time_ago_in_words(a_meal.created_at) %> ago
            </td>
            <td>
              <%= time_ago_in_words(a_meal.updated_at) %> ago
            </td>

            <td>
              <a href="/meals/<%= a_meal.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>
