<div>
  <div>
    <h1>
      Meal #<%= @the_meal.id %> details
    </h1>

    <div>
      <div>
        <a href="/meals">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_meal/<%= @the_meal.id %>">
          Delete Meal
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_meal.name %>
      </dd>
      
      <dt>
        Caterer
      </dt>
      <dd>
        <%= Caterer.where({ :id => @the_meal.caterer_id }).at(0).name %>
      </dd>

      <dt>
        Event
      </dt>
      <dd>
        <%= Event.where({ :id => @the_meal.event_id }).at(0).name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_meal.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_meal.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit Meal
    </h2>

    <form action="/modify_meal/<%= @the_meal.id %>"  method="post" class="container-fluid">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_meal.name %>">
      </div>

      <div>
        <label for="caterer_name_box">
          Caterer
        </label>

        <select id="caterer_name_box" name="query_caterer_name" value="<%= @the_meal_caterer.name %>">
          <% @list_of_caterers.each do |a_caterer| %>
            <% if a_caterer.id == @the_meal.caterer_id%>
              <option value="<%= a_caterer.name %>" selected><%= a_caterer.name %></option>
            <% else %>
              <option value="<%= a_caterer.name %>"><%= a_caterer.name %></option>
            <% end %>
            
          <% end %>
        </select>
      </div>

      <div>
        <label for="event_name_box">
          Event
        </label>

        <select id="event_name_box" name="query_event_name" value="<%= @the_meal_event.name %>">
          <% @list_of_events.each do |an_event| %>
            <% if an_event.id == @the_meal.event_id%>
              <option value="<%= an_event.name %>" selected><%= an_event.name %></option>
            <% else %>
              <option value="<%= an_event.name %>"><%= an_event.name %></option>
            <% end %>
            
          <% end %>
        </select>
      </div>

      <button type="submit" class="btn btn-primary btn-sm">
        Update Meal
      </button>
    </form>
  </div>
</div>

<hr>
