<div>
  <div class="container-fluid">
    <h1>
      List of all foods
    </h1>
  </div>
</div>

<hr>

<div class="accordion accordion-flush accordion-" id="accordion_food">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h2>Add a New Food</h2>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion_food">
      <div class="accordion-body">
        <div>
          <form action="/insert_food" method="post">
            <div class="row mb-2">
              <label for="meal_id_box" class="col-auto col-form-label">
                Meal
              </label>

              <div class="col-auto">
                <input class="form-control" type="text" id="meal_id_box" name="query_meal_id">
              </div>
            </div>

            <div class="row mb-2">
              <label for="caterer_id_box" class="col-auto col-form-label">
                Caterer
              </label>

              <div class="col-auto">
                <input class="form-control" type="text" id="caterer_id_box" name="query_caterer_id">
              </div>
            </div>

            <div class="row mb-2">
              <label for="cuisine_id_box" class="col-auto col-form-label">
                Cuisine
              </label>

              <div class="col-auto">
                <input class="form-control" type="text" id="cuisine_id_box" name="query_cuisine_id">
              </div>
            </div>

            <div class="row mb-2">
              <label for="photo_url_box" class="col-auto col-form-label">
                Photo URL
              </label>

              <div class="col-sm-10">
                <input class="form-control" type="text" id="photo_url_box" name="query_photo_url">
              </div>
            </div>

            <div style="height: 5px;"></div>

            <button type="submit" class="btn btn-primary btn-sm">
              Create food
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-sm align-middle">
      <thead>
        <tr>
          <th>
            ID
          </th>

          <th>
            Meal
          </th>

          <th>
            Caterer
          </th>

          <th>
            Cuisine
          </th>

          <th>
            Photo URL
          </th>

          <th>
            Created at
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @list_of_foods.each do |a_food| %>
          <tr>
            <td>
              <%= a_food.id %>
            </td>

            <td>
              <%= a_food.meal_id %>
            </td>

            <td>
              <%= a_food.caterer_id %>
            </td>

            <td>
              <%= a_food.cuisine_id %>
            </td>

            <td>
              <img src = "<%= a_food.photo_url %>" class="d-block mx-auto" style="width: auto; height: 200px;"></a>
            </td>

            <td>
              <%= time_ago_in_words(a_food.created_at) %> ago
            </td>
            <td>
              <%= time_ago_in_words(a_food.updated_at) %> ago
            </td>

            <td>
              <a href="/foods/<%= a_food.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>
