<div>
  <div class="container-fluid">
    <h1>
      List of all foods
    </h1>
  </div>
</div>

<hr>

<div class="container-fluid">
  <div>
    <h2>
      Add a new food
    </h2>

    <form action="/insert_food" method="post">
      <div>
        <label for="meal_id_box">
          Meal
        </label>

        <input type="text" id="meal_id_box" name="query_meal_id">
      </div>

      <div>
        <label for="caterer_id_box">
          Caterer
        </label>

        <input type="text" id="caterer_id_box" name="query_caterer_id">
      </div>

      <div>
        <label for="cuisine_id_box">
          Cuisine
        </label>

        <input type="text" id="cuisine_id_box" name="query_cuisine_id">
      </div>

      <button type="submit" class="btn btn-primary btn-sm">
        Create food
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>
            ID
          </th>

          <th>
            Meal
          </th>

          <th>
            Caterer
          </th>

          <th>
            Cuisine
          </th>

          <th>
            Created at
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody>
        <% @list_of_foods.each do |a_food| %>
          <tr>
            <td>
              <%= a_food.id %>
            </td>

            <td>
              <%= a_food.meal_id %>
            </td>

            <td>
              <%= a_food.caterer_id %>
            </td>

            <td>
              <%= a_food.cuisine_id %>
            </td>

            <td>
              <%= time_ago_in_words(a_food.created_at) %> ago
            </td>
            <td>
              <%= time_ago_in_words(a_food.updated_at) %> ago
            </td>

            <td>
              <a href="/foods/<%= a_food.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>
