<div>
  <div>
    <h1>
      Food #<%= @the_food.id %> details
    </h1>

    <div>
      <div>
        <a href="/foods">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_food/<%= @the_food.id %>">
          Delete food
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Meal
      </dt>
      <dd>
        <%= @the_food.meal_id %>
      </dd>

      <dt>
        Caterer
      </dt>
      <dd>
        <%= @the_food.caterer_id %>
      </dd>

      <dt>
        Cuisine
      </dt>
      <dd>
        <%= @the_food.cuisine_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_food.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_food.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div class="container-fluid">
    <h2>
      Edit food
    </h2>

    <div style="height: 10px;"></div>

    <form action="/modify_food/<%= @the_food.id %>"  method="post" class="container-fluid">
      <div class="row mb-2">
        <label for="meal_id_box" class="col-auto col-form-label">
          Meal
        </label>

        <div class="col-auto">
          <input class="form-control" type="text" id="meal_id_box" name="query_meal_id" value="<%= @the_food.meal_id %>">
        </div>
      </div>

      <div class="row mb-2">
        <label for="caterer_id_box" class="col-auto col-form-label">
          Caterer
        </label>

        <div class="col-auto">
          <input class="form-control" type="text" id="caterer_id_box" name="query_caterer_id" value="<%= @the_food.caterer_id %>">
        </div>
      </div>

      <div class="row mb-2">
        <label for="cuisine_id_box" class="col-auto col-form-label">
          Cuisine
        </label>

        <div class="col-auto">
          <input class="form-control" type="text" id="cuisine_id_box" name="query_cuisine_id" value="<%= @the_food.cuisine_id %>">
        </div>
      </div>

      <div style="height: 5px;"></div>

      <button type="submit" class="btn btn-primary btn-sm">
        Update Food
      </button>
    </form>
  </div>

  <div style="height: 10px;"></div>

  <div>
    <form action="/delete_food/<%= @the_food.id %>"  method="get">
      <button type="submit" class="btn btn-danger btn-sm mx-4">
        Delete Food
      </button>
    </form>
  </div>
</div>

<hr>
