<div>
  <div class="container-fluid">
    <h1>
      List of all Neighborhoods
    </h1>
  </div>
</div>

<hr>

<div class="accordion accordion-flush accordion-" id="accordion_neighborhood">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h2>Add a New Neighborhood</h2>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion_neighborhood">
      <div class="accordion-body">
        <div>
          <form action="/insert_neighborhood" method="post">
            <div class="row mb-2">
              <label for="name_box" class="col-auto col-form-label">
                Name
              </label>
              
              <div class="col-auto">
                <input class="form-control" type="text" id="name_box" name="query_name">
              </div>
            </div>

            <div class="row mb-2">
              <label for="photo_url_box" class="col-auto col-form-label">
                Photo URL
              </label>

              <div class="col-sm-10">
                <input class="form-control" type="text" id="photo_url_box" name="query_photo_url">
              </div>
            </div>


            
            <div style="height: 5px;"></div>

            <button type="submit" class="btn btn-primary btn-sm">
              Create Neighborhood
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-sm align-middle">
      <thead>
        <tr>
          <th>
            ID
          </th>

          <th>
            Name
          </th>

          <th>
            Photo URL
          </th>

          <th>
            Created at
          </th>

          <th>
            Updated at
          </th>

          <th>
          </th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <% @list_of_neighborhoods.each do |a_neighborhood| %>
          <tr>
            <td>
              <%= a_neighborhood.id %>
            </td>

            <td>
              <%= a_neighborhood.name %>
            </td>

            <td>
              <%= a_neighborhood.photo_url %>
            </td>

            <td>
              <%= time_ago_in_words(a_neighborhood.created_at) %> ago
            </td>
            <td>
              <%= time_ago_in_words(a_neighborhood.updated_at) %> ago
            </td>

            <td>
              <a href="/neighborhoods/<%= a_neighborhood.id %>">
                Show details
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>
