<div>
  <div class="container-fluid">
      <a href="/neighborhoods" class="btn btn-light">
        <i class="fas fa-arrow-left"></i> Back
      </a>
  </div>
  <div>
    <div class="vendor-title">
      <%= @the_neighborhood.name %>
    </div>

    <div style="height: 10px;"></div>

    <div class="row mb-4">
        <% if @the_neighborhood.photo_url.blank? %>
        <% else %>
        <img src = "<%= @the_neighborhood.photo_url %>" class="d-block mx-auto" style="width: auto; height: 200px;"></a>
        <% end %>
    </div>
  </div>
</div>

<div>
  <div class="container text-center">
    <div class="row mb-4">
      <div class="col">
        <h4>Created At</h4>
        <%= time_ago_in_words(@the_neighborhood.created_at) %> ago
      </div>
      <div class="col">
        <h4>Updated At</h4>
        <%= time_ago_in_words(@the_neighborhood.updated_at) %> ago
      </div>
    </div>
  </div>
</div>

<hr>

<div>
  <div class="container-fluid">
    <h2>
      Edit Neighborhood
    </h2>

    <div class="row mb-2">
      <label for="name_box" class="col-auto col-form-label">
        Name
      </label> 

      <div class="col-auto">
        <input class="form-control" type="text" id="name_box" name="query_name" value="<%= @the_neighborhood.name %>">
      </div>
    </div>

    <div class="row mb-2">
      <label for="photo_url_box" class="col-auto col-form-label">
        Photo URL
      </label> 

      <div class="col-sm-10">
        <input class="form-control" type="text" id="photo_url_box" name="query_photo_url" value="<%= @the_neighborhood.photo_url %>">
      </div>
    </div>

    <div style="height: 5px;"></div>

    <form action="/modify_neighborhood/<%= @the_neighborhood.id %>"  method="post" class="container-fluid">
      <button type="submit" class="btn btn-primary btn-sm">
        Update Neighborhood
      </button>
    </form>
  </div>

  <div style="height: 10px;"></div>

  <div>
    <form action="/delete_neighborhood/<%= @the_neighborhood.id %>"  method="get">
      <button type="submit" class="btn btn-danger btn-sm mx-4">
        Delete Neighborhood
      </button>
    </form>
  </div>
</div>

<hr>
