<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class = "navbar">
      <div> <a href="/">Go Home</a></div>
      <div> <a href="/bakeries">Bakeries</a></div>
      <div> <a href="/caterers">Caterers</a></div>
      <div> <a href="/coordinators">Coordinators</a></div>
      <div> <a href="/cuisines">Cuisines</a></div>
      <div> <a href="/djs">DJs</a></div>
      <div> <a href="/events">Events</a></div>
      <div> <a href="/florists">Florists</a></div>
      <div> <a href="/hotels">Hotels</a></div>
      <div> <a href="/lighting_production_companies">Lighting & Production Companies</a></div>
      <div> <a href="/photographers">Photographers</a></div>
      <div> <a href="/transportation_companies">Transportation Companies</a></div>
      <div> <a href="/venues">Venues</a></div>
      <div> <a href="/events">Events</a></div>
      <div> <a href="/meals">Meals</a></div>
      <div> <a href="/neighborhoods">Neighborhoods</a></div>
    </div>


    <hr>

    <% if notice.present? %>
      <div style="color: green">
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div style="color: red">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>

</html>
